# ignore content of uploads folder
uploads/-
# except one (empty) file to have the folder in version control
!uploads/.gitkeep
!thumbnails/.gitkeep
node_modules/-
.env
certrequest.csr
ssl-cert.pem
ssl-key.pem




